html body{
    margin: 0px;
    padding: 0px;
}
.background {
    
    background-image: url("../assets/water.webp");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: grid;
    place-items: center;
}
.header{
    text-decoration-color: yellowgreen;
}
.scanner {
    background-color: rgba(240, 255, 255, 0.664);
    width: 50%;
    height: auto;
    border-radius: 20px;
    max-width: 400px;
}
