.toolArea {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px;
}
.iconAndCreate {
    display: flex;
}

.iconAndCreate #createButton{
    cursor: pointer;
    margin-left: 10px;
}

.userItem {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style-type: none;
}
.userItem li {
    border: 1px solid black;
}
.username {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.passwordFeild {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userItem li:first-child {
    border-left: none; /* Remove left border from the first item */
}
